<li class="nav-item has-treeview menu-open">
  <div class="nav-link active">
    <i class="nav-icon fas fa-users"></i>
    <p>
      <%= t ".user"  %>
      <i class="right fas fa-angle-left"></i>
    </p>
  </div>
  <ul class="nav nav-treeview">
    <% if current_user.admin? || current_user.supervisor? %>
      <li class="nav-item">
        <%= link_to "#" do %>
          <div class="nav-link">
            <i class="fa fa-th-list nav-icon"></i>
            <p><%= t ".all_trainees" %></p>
          </div>
        <% end %>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class="nav-item">
        <%= link_to new_course_path do %>
          <div class="nav-link">
            <i class="fa fa-th-list nav-icon"></i>
            <p><%= t ".all_supervisors" %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
