<% provide :title, t(".heading") %>

<section class="content-header">
  <h1><%= t ".heading" %></h1>
</section>

<section class="content">
  <div class="card-body p-0">
    <div class="report-search">
      <h3><i class="fa fa-filter"></i><%= t ".search" %></h3>
      <%= search_form_for @q do |f| %>
        <div class="form-group">
          <%= f.label :content_cont, t(".content") %>
          <%= f.search_field :content_cont, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :course_name_start, t(".course") %>
          <%= f.search_field :course_name_start, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :date_gteq, t(".from_date") %>
          <%= f.date_field :date_gteq,
            class: "form-control datetimepicker-input" %>
        </div>

        <div class="form-group">
          <%= f.label :date_lteq, t(".to_date") %>
          <%= f.date_field :date_lteq,
            class: "form-control datetimepicker-input" %>
        </div>

        <div class="form-group">
          <%= f.label :contain_cont, t(".contain") %>
          <%= f.search_field :contain_cont, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :created_at_date_equals, t(".created_at") %>
          <%= f.date_field :created_at_date_equals,
            class: "form-control datetimepicker-input" %>
        </div>

        <div class="button">
          <%= button_tag type: "submit", class: "btn btn-success" do %>
            <i class="fa fa-check"></i><%= t ".apply" %>
          <% end %>
          <%= link_to user_reports_path, class: "btn btn-danger" do %>
            <%= t ".reset" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @user_reports.present? %>
    <div class="card-body p-0">
      <h2 class="text-center">
        <%= t ".result", size: @user_reports.total_count %>
      </h2>
      <table class="table table-striped projects">
        <thead>
          <tr>
            <th class="course-table-name">
              <%= sort_link @q, :date, t(".date"), default_order: :desc %>
            </th>
            <th class="course-table-start_time">
              <%= sort_link @q, :course_name, t(".course") %>
            </th>
            <th class="course-table-status">
              <%= sort_link @q, :content, t(".content") %>
            </th>
            <th class="course-table-btnt"></th>
          </tr>
          <tbody>
            <%= render @user_reports %>
          </tbody>
        <thead>
      </table>
    </div>
    <%= paginate @user_reports %>
  <% else %>
    <section class="not-found-report mt-2">
      <h3 class="text-center"><%= t(".no_result") %></h3>
    </section>
  <% end %>
</section>
