<% provide :title, @course.name %>

<section class="content-header">
  <h1><%= @course.name %></h1>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <%=  image_tag("vietnam.jpg", class: "img-fluid img-square",
              alt: "Course picture") %>
            </div>
            <h3 class="profile-username text-center"><%= @course.name %></h3>
            <p class="text-muted text-center"><%= @course.description %></p>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b><%= t ".start_date" %></b>
                <div class="float-right">
                  <%= @course.start_time.strftime Settings.time_format%>
                </div>
              </li>
              <li class="list-group-item">
                <b><%= t ".status" %></b>
                <div class="float-right"><%= @course.status %></div>
              </li>
              <li class="list-group-item">
                <b><%= t ".subjects" %></b>
                <div class="float-right"><%= @course.course_subjects.count %>
                </div>
              </li>
              <li class="list-group-item">
                <b><%= t ".participants" %></b>
                <div class="float-right"><%= @course.user_courses.count %></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#subjects" data-toggle="tab">
                <%= t ".subjects" %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#participants" data-toggle="tab">
                <%= t ".participants" %>
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="subjects">
              <% if current_user.supervisor? %>
                  <%= t ".add_subject" %>
                  <div>
                    <%= form_for [@course, CourseSubject.new] do |f| %>
                      <div class="form-group">
                        <%= f.hidden_field :course_id, value: @course.id %>
                        <%= f.select :subject_id, @subjects.pluck(:name, :id),
                          {include_blank: false, include_hidden: false},
                          {id: "chosen-subject", class: "form-control",
                          multiple: "true"} %>
                      </div>
                      <%= f.submit t(".confirm"), class: "btn btn-primary" %>
                    <% end %>
                  </div>
                <% end %>
              <%= render @course_subjects %>
              <%= paginate @course_subjects %>
            </div>
            <div class="tab-pane" id="participants">
              <div class="list-supervisor">
                <%= t ".supervisor_list", count: @course.supervisor.count %>
              </div>
              <div class="list-trainee">
                <%= t ".trainee_list", count: @course.trainee.count %>
                <table class="table table-striped trainees">
                  <thead>
                    <tr>
                      <th class="trainee-table-name"><%= t ".name" %></th>
                      <th class="trainee-table-start_time">
                        <%= t ".start_date" %></th>
                      <th class="trainee-table-status"><%= t ".status" %></th>
                      <th class="trainee-table-btnt"></th>
                    </tr>
                    <tbody>
                      <%= render @course_users %>
                    </tbody>
                  <thead>
                </table>
                <%= paginate @course_users %>
                <% if current_user.supervisor? %>
                  <%= t ".add_trainees" %>
                  <div class="add-trainee">
                    <%= form_for [@course, UserCourse.new] do |f| %>
                      <div class="form-group">
                        <%= f.hidden_field :course_id, value: @course.id %>
                        <%= f.select :user_id, @users.pluck(:full_name, :id),
                          {include_blank: false, include_hidden: false},
                          {id: "chosen-trainee", class: "form-control", multiple: "true"} %>
                      </div>
                      <%= f.submit t(".confirm"), class: "btn btn-primary" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
