<% provide :title, @course.name %>

<section class="content-header">
  <h1><%= @course.name %></h1>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <%=  image_tag("vietnam.jpg", class: "img-fluid img-square",
              alt: "Course picture") %>
            </div>
            <h3 class="profile-username text-center"><%= @course.name %></h3>
            <p class="text-muted text-center"><%= @course.description %></p>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b><%= t ".start_date" %></b>
                <div class="float-right">
                  <%= @course.start_time.strftime("%d/%m/%Y") %>
                </div>
              </li>
              <li class="list-group-item">
                <b><%= t ".status" %></b>
                <div class="float-right"><%= @course.status %></div>
              </li>
              <li class="list-group-item">
                <b><%= t ".subjects" %></b>
                <div class="float-right"><%= @course.course_subjects.count %>
                </div>
              </li>
              <li class="list-group-item">
                <b><%= t ".participants" %></b>
                <div class="float-right"><%= @course.user_courses.count %></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#subjects" data-toggle="tab">
                <%= t ".subjects" %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#participants" data-toggle="tab">
                <%= t ".participants" %>
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="subjects">
              <%= render @course_subjects %>
              <%= paginate @course_subjects %>
            </div>
            <div class="tab-pane" id="participants">
            hi
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
