<p><%= t ".hello" %> <%= @resource.full_name %>!</p>

<p><%= t ".request_link" %>  </p>

<p><%= link_to t(".change_password"),
  edit_password_url(@resource, reset_password_token: @token,
    :locale => I18n.locale) %></p>

<p><%= t ".warning" %></p>
<p><%= t ".info" %></p>
