<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to root_path do %>
    <div class="brand-link">
      <span class="brand-text font-weight-light">
        <%= t ".training_system" %>
      </span>
    </div>
  <% end %>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <% if logged_in? %>
          <%= link_to current_user.full_name, user_path(current_user) %>
        <% end %>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <% if logged_in? %>
          <%= render "sidebar/course" %>
          <% if current_user.admin? || current_user.supervisor? %>
            <%= render "sidebar/user" %>
          <% end %>
          <% if current_user.admin? %>
            <%= render "sidebar/subject" %>
          <% end %>
          <% if current_user.trainee? %>
            <%= render "sidebar/report" %>
          <% end %>
        <% end %>
      </ul>
    </nav>
      <!-- /.sidebar-menu -->
  </div>
    <!-- /.sidebar -->
</aside>
